body{
    font-family: 'Roboto';
    color: #001623;
}

.navbar a{
    color: #012736;
}

p{
    color: #001623;
}

hr{
    margin:0;
}

.main-section {
    background-image: url("../images/main-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 500px;
}

.jumbotron {
    background-color: transparent;
}
