/*RESET*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, pre, form, p, blockquote {
    padding: 0;
    margin: 0;
}


/*body*/

body {
    background-color: rgb(237, 237, 237);
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 12px;
}


/*Page*/

.wrapper {
    width: 950px;
    margin: auto;
}

.logo {
    width: 100%;
    background-color: #999999;
    height: 150px;
    border: 1px solid rgb(224, 224, 224);
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
}

.logo h2 {
    font-size: 24px;
    line-height: 140px;
}


/*Home Page*/

.content {
    width: 100%;
    background-color: rgb(254, 254, 254);
    border: 1px solid rgb(224, 224, 224);
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin-top: 8px;
    margin-bottom: 8px;
    min-height: 400px;
}


/*Menu*/

.menu {
    background-color: rgb(10, 110, 178);
    width: 100%;
    margin: 0px 0px 10px;
    padding: 0px;
    height: 40px;
    color: rgb(243, 243, 243);
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.navigation_first_item {
    border-left: 0px;
    -ms-border-radius: 5px 0px 0px 5px;
    ;
    border-radius: 5px 0px 0px 5px;
}

.navitem_s {
    float: left;
    border-right: 1px solid rgb(10, 85, 125);
    border-left: 1px solid rgb(67, 153, 200);
    height: 40px;
    background-color: rgb(14, 79, 114);
}

.menu ul {
}

.menu ul li {
    float: left;
    display: block;
    list-style: none;
     border-right: 1px solid rgb(10, 85, 125);
    border-left: 1px solid rgb(67, 153, 200);
}

.menu ul li.navigation_first_item:hover {
    -ms-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
}

.menu ul li a {
    font-size: 13px;
    font-weight: bold;
    line-height: 40px;
    padding: 8px 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu ul li:hover {
    background-color: rgb(14, 79, 114);
    border-right: 1px solid rgb(14, 89, 130);
}

.clear {
    clear: both;
}


/*Footer*/

.footer {
    height: 50px;
    background-color: rgb(10, 110, 178);
    color: rgb(255, 255, 255);
    -ms-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.footer h2 {
    padding: 15px;
    text-align: center;
}
