<%@ Page
    Language="C#"
    MasterPageFile="~/Layout.Master"
    AutoEventWireup="true"
    CodeFile="AddEmployee.aspx.cs" 
    Inherits="BiuroPracy.AddEmployee" 
    Title="AddEmployee"
    %>

<asp:Content ID="Content1" ContentPlaceHolderID="title" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="head" runat="server">
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="contentBody" runat="server">
    Dodawanie pracowników
</asp:Content>
